html, body {
    font-size: 14px;
}

.header {
    background: $header_background;
}

.content {
    background: $content_background;   
}

//.top-bar-section {
//    background: $header_background;
//}


.logo {
    padding-top: 15px;
    padding-left: 15px;/* width:100%; */
}

.top-bar {
//    background: $header_background;
    padding-top: 10px;
}

.top-bar .name { 
    width: 0px;
}

.amasko-content {
    padding-left: 15px;
    padding-top: 35px;
}

.angular-google-map-container { 
    width: 400px;
    height: 400px;
}

.accordion {
    margin-top: 10px;
}

.side-nav li.active {
    background: scale-color($body-bg, $lightness: -10%);
}




//@media only screen and (min-width: 10em) {
//    .top-bar-section ul {display: table; margin: 0 auto;}
//    .top-bar-section ul li {display: table-cell;}
//}