// amasko_foundation_settings
$include-html-classes: true;
$include-html-global-classes: $include-html-classes;

// colors

$white: #FFFFFF;
$black: #000000;

$primary-color: #7F7761; // grauer Text
$logo_color: #8B6909; // dunkelgold

$body-bg: #F1F1F8; // weissgrau
$header_bg: #F5D67C; //gelb
$content_bg: #FFEFC2; // creme

$side_nav_bg: rgb(207, 208, 248); // hellblau
$accordeon_bg: $header_bg;
$accordeon_title: $logo_color; // gold



$hover_border: #6365AB; // mittelblau
$menu_underline: #36388A; // dunkelblau
$border_normal: #C6A239; // border normal (mittel gold)


// font
$font-weight-normal: normal !default;
$body-font-family: Arimo, sans-serif;

// grid
$row-width: 850px;//rem-calc(10);




// We use these to control header font styles
$header-font-family: $body-font-family;
$header-font-weight: bold;
$header-font-style: normal;
$header-font-color: $logo_color;
$header-line-height: 1.4;
$header-top-margin: .2rem;
$header-bottom-margin: .5rem;
$header-text-rendering: optimizeLegibility;

// We use these to control header font sizes
$h1-font-size: 1.7rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.4rem;
$h5-font-size: 1.3rem;
$h6-font-size: 1.2rem;

// These control how subheaders are styled
$subheader-line-height: 1.4;
$subheader-font-color: scale-color($header-font-color, $lightness: 35%);
$subheader-font-weight: 300;
$subheader-top-margin: .2rem;
$subheader-bottom-margin: .5rem;