Haarentfernung ist von Frauen und Männern die am häufigsten nachgefragte kosmetische Leistung. Der Trend geht in Richtung Langzeitenthaarung.

<accordion close-others="oneAtATime" ng-init="oneAtATime=true">  
    <accordion-group is-open="elos" >
        <accordion-heading>
            <h2>
                <span ng-show="elos" >-</span>
                <span ng-hide="elos" >+</span>
                Dauerhafte Haarentfernung mit ELOS Technologie
            </h2>
        </accordion-heading>
        <h3>sanft, sicher und effektiv!</h3>
        Haarentfernung ist von Frauen und Männern die am häufigsten nachgefragte kosmetische Leistung. Der Trend geht in Richtung Langzeitenthaarung.<br> 
Die dauerhafte Haarentfernung mit ELOS-Technologie ist effektiv und schmerzlos und bietet die einzigartige Kombination von Licht und Radiofrequenzstrom bei gleichzeitiger Kühlung der Haut und ein einmaliges Sicherheitssystem.<br>
Freuen Sie sich auf die dauerhaft glatte und geschmeidige Haut!
    </accordion-group>
    
    <accordion-group is-open="Wachs" >
        <accordion-heading>
            <h2>
                <span ng-show="Wachs" >-</span>
                <span ng-hide="Wachs" >+</span>
                Haarentferung mit Wachs
            </h2>
        </accordion-heading>
        Die Haarentfernung mit warmem Wachs ist die traditionellste Haarentfernungs-Methode. Bein- und Achselhaare sowie die Behaarung der Bikini-Zone werden sehr effizient im Handumdrehen beseitigt.<br>
Die flüssige Wachsmasse wird mit einem Spachtel oder einem praktischen Roll-On gleichmässig auf die behaarte Körperstelle aufgetragen. Der Wachs wird dann mit einer schnellen Bewegung abgezogen. Das erwärmte Wachs ist sehr wirkungsvoll, die Wärme öffnet die Hautporen und die Haare lassen sich so leichter entfernen.
    </accordion-group>
    
    
    <accordion-group is-open="Sugaring" >
        <accordion-heading>
            <h2>
                <span ng-show="Sugaring" >-</span>
                <span ng-hide="Sugaring" >+</span>
                Sugaring
            </h2>
        </accordion-heading>
            Die Zuckerpaste (Sugaring) ist ein rein natürliches Produkt, besteht aus Zucker, Wasser und Zitronensaft. Sugaring ist hautfreundlich und ist besonders für Frauen mit empfindlicher Haut zu empfehlen.<br>
Die warme Zuckerpaste wird aufgetragen und das Haar samt Wurzel in Wachsrichtung entfernt, verbleibende Zuckerreste können mit warmem Wasser einfach abgewaschen werden. Kein Risiko von Porenverstopfungen und Entzündungen auch ist das Einwachsen von Härchen aufs Minimum reduziert. Die nachwachsenden Haaren sind heller und feiner.<br>
Das Sugaring hält länger an als eine Rasur!
    </accordion-group>
</accordion>