<h1>Aktuell</h1>
<h2>Entspannung für den Körper: Gönnen Sie sich eine 60-minütige Ganzkörpermassage und fühlen Sie sich wie neu geboren!</h2>
<p>
Eine Massage beginnt im Idealfall mit einem «aaahh» und endet mit einem «oooh». Dann nämlich, wenn Sie sich nach einer Stunde voller Entspannung wie ein neuer Mensch fühlen. Dieses Gefühl möchten Sie unbedingt haben? Kein Problem, denn bei AMASKO weiss man, wie gestresste Körper sich vollends entspannen können.</p>

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
    <li>
        <img src="img/9_home.jpg">
    </li>
    <li>
        <img src="img/18_home.jpg">
    </li>
</ul>