 <h1>Philosophie</h1>
<p>Die Philosophie Amaskos beruht auf der inneren und äusseren Zufriedenheit und Ausgeglichenheit des Körpers und des Geistes. Wir beraten Sie gerne über die Möglichkeiten, ihren Körper zu (re-) vitalisieren, damit Sie sich in Ihrer Haut wohler fühlen. 

Um Ihr Wohlbefinden zu erhöhen, nutzen wir sowohl traditionelle asiatische Massagemethoden als auch moderne Technologien.

In einem persönlichen Gespräch werden wir gemeinsam die geeignete Lösung für Sie finden, um Ihren Geist und Körper zum Gleichgewicht zu führen.
</p>

<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4">
    <li>
        <img src="img/11.jpg">
    </li>
    <li>
        <img src="img/Raum_closeup.jpg">
    </li>
    <li>
        <img src="img/10.jpg">
    </li>
    <li>
        <img src="img/17_1.jpg">
    </li>
</ul>