<!--
<div class="row">
    <div class="small-12 columns">
        <h3>Behandlungen</h3>
    </div>
</div>
-->

<div class="row" ng-cotroller="BehandlungenCtrl">
    <div class="small-2 columns">
        <ul class="side-nav" role="navigation" title="Link List">
            <li role="menuitem"><a ng-click="selectSubCategory('Gesicht.html')" >Gesicht</a></li>
            <li role="menuitem"><a ng-click="selectSubCategory('Haende_und_Fuesse.html')">Hände und Füsse</a></li>
            <li role="menuitem"><a ng-click="selectSubCategory('Haarentfernung.html')">Haarentfernung</a></li>
            <li role="menuitem"><a ng-click="selectSubCategory('Wellness.html')">Körperbehandlung und Wellness</a></li>
            <li role="menuitem"><a ng-click="selectSubCategory('Cellulite.html')">Cellulite Behandlung</a></li>
            <li role="menuitem"><a ng-click="selectSubCategory('Fettreduktion.html')">Fettreduktion</a></li>
            <li role="menuitem"><a ng-click="selectSubCategory('Powerplate.html')">Powerplate</a></li>
        </ul>
    </div>
    <div class="small-10 columns" ng-include="template.url" ></div>
</div>



