//@import "../../styles/general";

table {
    margin: 0px;
    border: none;
    width: auto;
    min-width: 0;
    background: $content_bg;
    border-collapse: collapse;
    
    caption {
        font-family: $body-font-family;
        font-size: $primary-font-size;
        color: $primary-color;
        text-align: left;
    }
    
    tr {
        th, td {
            padding-top: 2px;
            padding-left: 0px;
            
            background: $content_bg;
            font-family: $body-font-family;
            font-size: $primary-font-size;
            color: $primary-color;
        }        
    }
    
    
}

.map {
    padding-top: 35px; 
    padding-bottom: 30px;
}